# building...
build/
lib/

#Log file
simulate.io.txt

#Clion
.idea

# CMake...
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
simulate.code-workspace
.vscode/
.idea/
cmake-build-debug/